<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PicaButik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PicaButik.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area=" " asp-controller="Home" asp-action="Index">PicaButik</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Carts" asp-action="Index">Поръчки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Категория</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pizzas" asp-action="Index">Продукти</a>
                        </li>
                    </ul>
                    <hr />
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted" style="bottom: auto;">
        <div class="footer-info">
            <div class="socials-title">
                <span class="InfoTitle">КОНТАКТИ:</span>
                <div class="socials">
                    <div class="contactsContainer">
                        <div class="socials-text"><span class="contactsMainText">Телефон:</span> <span class="contactsText" style="font-family: cursive;">+359 823 532 246</span></div>
                    </div>
                </div>
                <div class="socials">
                    <div class="contactsContainer">
                        <div class="socials-text"><span class="contactsMainText">Email:</span> <span class="contactsText" style="font-family: cursive;">Pizzabutic@gmail.com</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <div class="socials-title">
                <span class="InfoTitle">ИНФОРМАЦИЯ:</span>
                <div class="socials">
                    <div class="contactsContainer">
                        <div class="socials-text"><a class="contactsMainText" href="~/Home/Index#HomeHeadings">За нас</a></div>
                    </div>
                    <div class="socials">
                        <div class="contactsContainer">
                            <div class="socials-text"><span class="contactsMainText">Адрес:</span> <span class="contactsText">град Копривщица, България</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <div class="socials-title">
                <span class="InfoTitle">ПОСЛЕДВАЙТЕ НИ В:</span>
                <div class="socials">
                    <div class="socialMediaImg">
                        <div class="SocialMediaIcons"><a href="https://instagram.com"><img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-512.png" /></a></div>
                        <div class="SocialMediaIcons"><a href="https://www.facebook.com"><img src="https://seeklogo.com/images/F/facebook-icon-black-logo-133935095E-seeklogo.com.png" /></a></div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
